*{
    box-sizing: border-box;
    margin: 0; padding: 0;
    font-family: arial;
}body{
    background-color: black; color: white;
    display: flex; justify-content: center;
    align-items: center; min-height: 100vh;
}.container{
    background-color: transparent; border: 2px solid white;
    width: 500px; text-align: center; border-radius: 20px;
}.intro{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    font-size: 3em; margin-top: 20px;
}.login{
    text-transform: capitalize; font-size: 2em;
    margin-top: 50px;
}.loginInfo{
    margin-top: 20px;
}.input{
    width: 75%; height: 40px; margin-top: 20px;
    background-color: transparent; border: 2px solid white;
    border-radius: 5px; color: white; text-align: center;
    font-size: 1.4em;
}#submit{
    margin-top: 60px; font-size: 2em; text-transform: uppercase;
    font-weight: bold; background-color: transparent; border: 2px solid white;
    border-radius: 5px; color: white; -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.2px; width: 75%; height: 50px; cursor: pointer;
    margin-bottom: 40px; transition: color, border-color, 1s;
}#submit:hover{
    color: blue; border-color: blue;
}